<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>contacto</title>
</head>
<!-- En el body vamos a separar la cabecera, una seccion y el footer-->

<body>   
    <header>
        <!-- Creamos una clase cabecera donde introducimos la imagen del logo de la empresa -->
        <div class="cabecera"><img src="../images/logo_frutas_antonio.jpg" alt="Logo frutas antonio" width="1400" height="300"></div>
        <nav>
            <!-- A Continuacion creamos otra clase menu, y dentro de ella creamos otra para cada uno de los botones -->
            <div class="menu">
                <span class="boton">
                    <a href="../index.html" class="menu">Inicio</a>
                </span>
                <span class="boton">
                    <a href="productos.html" class="menu">Productos</a>
                </span>
                <span class="boton">
                    <a href="presupuesto.html" class="menu">Presupuesto</a>
                </span>
                <span class="botonin">
                    <a href="contacto.html" class="menu">Contacto</a>
                </span>
            </div>
        </nav>
    </header>
    <!-- Introducimos una seccion para añadir las dos fotos la ubicacion del mercado -->
    <section class="contacto">
        <img src="../images/mapamercado.PNG" width="650" height="400">
        <img src="../images/entradamercado.jpg" width="650" height="400">
    </section>
    
    <!-- Por ultimo, creamos el footer donde añadiremos la direccion, redes sociales y un aviso legal de la empresa -->
    <footer>
        <p>Calle Salvador Muñoz nº15</p>
        <div id="instagram">
            <img src="../images/instagram.png">  
            <p>@Frutas_Antonio</p>
        </div>
        <p>Aviso legal empresa</p>
    </footer>

</body>
</html>