<!DOCTYPE html>
<html lang="en">
<!-- En este caso solo necesitaremos enlazar la hoja de estilos con la etiqueta link -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>productos</title>
</head>

<!-- En el body vamos a separar la cabecera, main y footer -->
<body>
    <header>
        <!-- Creamos una clase cabecera donde introducimos la imagen del logo de la empresa -->
        <div class="cabecera"><img src="../images/logo_frutas_antonio.jpg" alt="Logo frutas antonio" width="1400" height="300"></div>
        <nav>
            <!-- A Continuacion creamos otra clase menu, y dentro de ella creamos otra para cada uno de los botones -->
            <div class="menu">
                <span class="boton">
                    <a href="../index.html" class="menu">Inicio</a>
                </span>
                <span class="botonin">
                    <a href="productos.html" class="menu">Productos</a>
                </span>
                <span class="boton">
                    <a href="presupuesto.html" class="menu">Presupuesto</a>
                </span>
                <span class="boton">
                    <a href="contacto.html" class="menu">Contacto</a>
                </span>
            </div>
        </nav>
    </header>
    <!-- Creamos un main que separaremos en dos secciones -->
    <main>
        <!-- La primera seccion sera una breve descripcion -->
        <section class="cajita2">
            <h1>Los mejores productos del mercado a tu disposicion</h1>
            <p1>Seleccionamos personalmente cada fruta que vendemos</p1>
            <p1>Verduras y hortalizas frescas cultivadas por nosotros mismos</p1>
            <p1>Siempre con cercania al publico</p1>
        </section>

        <!-- En la segunda clase introducimos las imagenes de los productos -->
        <article class="contenedorprodu">
            <img src="../images/patatas.jpeg" alt="Produtos" width="140" height="100">
            <img src="../images/pimientos.jpeg" alt="Produtos" width="140" height="100">
            <img src="../images/plantaspatatas.jpeg" alt="Produtos" width="140" height="100">
            <img src="../images/tomates.jpeg" alt="Produtos" width="140" height="100">
            <img src="../images/mercadoabastos.jpg" alt="Produtos" width="140" height="100">
            <img src="../images/frutasantonio.jpg" alt="Produtos" width="140" height="100">
            <img src="../images/trasera.jpeg" alt="Produtos" width="140" height="100">
            <img src="../images/pimientorojo.jpeg" alt="Produtos" width="140" height="100">
            <img src="../images/varios.jpeg" alt="Produtos" width="140" height="100">
            <img src="../images/sandia.webp" alt="Produtos" width="140" height="100">
        </article>
    </main>
    <!-- Por ultimo, creamos el footer donde añadiremos la direccion, redes sociales y un aviso legal de la empresa -->
    <footer>
        <p>Calle Salvador Muñoz nº15</p>
        <div id="instagram">
            <img src="../images/instagram.png">  
            <p>@Frutas_Antonio</p>
        </div>
        <p>Aviso legal empresa</p>
    </footer>

    


</body>
</html>